

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    /* margin: 0; */
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}

.row {
    height: 100px;
}

.button-row {
    height: 150px;
    float: left;
}

.images {
    float:left;
}

.jumbotron {
    color: aliceblue;
    background-color: #202C39;
}

header h3 {
    margin-left: 150px;
}

.container {
    padding: 0 100px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 13px;
}

.loan-button {
    margin: 10px 0;
}

.buy-button {
    margin: 30px 0 30px 0;
}
.workbuttons {
    margin: 9px 5px 0 0;
}


.rounded {
    border-radius: 1rem;
    border: 1px solid lightgrey;
    margin: 10px 125px 15px 120px;
}

.container-bottom {
    padding: 0;
    width: 800px;
}

.pricetag {
    font-weight: 500;
    font-size: 25px;
    font-style: bold;
}